@{
    Layout = "AdminLayout";
}


<!--   === Description Starts ===   -->
<div class="description">
    <!--   === Column 1 Starts ===   -->
    <div class="col-1">
        <!--   === Boxes Row Starts ===   -->
        <div class="boxes-row">
            <div class="balance-box">
                <div class="subject-row">
                    <div class="text">
                        <h3>Total Income</h3>
                        <h1>$70,452<sub>(USD)</sub></h1>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-arrow-up"></i>
                    </div>
                </div>
                <div class="progress-row">
                    <div class="subject">progress</div>
                    <div class="progress-bar">
                        <div class="progress-line" value="91%" style="max-width: 91%"></div>
                    </div>
                </div>
            </div>

            <div class="balance-box">
                <div class="subject-row">
                    <div class="text">
                        <h3>Total Expense</h3>
                        <h1>$64,261<sub>(USD)</sub></h1>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-arrow-down"></i>
                    </div>
                </div>
                <div class="progress-row">
                    <div class="subject">progress</div>
                    <div class="progress-bar">
                        <div class="progress-line" value="73%" style="max-width: 73%"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--   === Boxes Row Ends ===   -->
        <!--   === Analytics Chart Starts ===   -->
        <div class="chart">
            <div class="chart-header">
                <h2>Revenue Analytics</h2>
                <input type="month" class="date" value="2023-12">
            </div>
            <div class="chart-contents">
                <section class="chart-grid">
                    <div class="grid-line" value="100%"></div>
                    <div class="grid-line" value="80%"></div>
                    <div class="grid-line" value="60%"></div>
                    <div class="grid-line" value="40%"></div>
                    <div class="grid-line" value="20%"></div>
                    <div class="grid-line" value="0%"></div>
                </section>
                <section class="chart-value-wrapper">
                    <div class="chart-value" style="max-height: 62%"></div>
                    <div class="chart-value" style="max-height: 76%"></div>
                    <div class="chart-value" style="max-height: 70%"></div>
                    <div class="chart-value" style="max-height: 82%"></div>
                    <div class="chart-value" style="max-height: 78%"></div>
                    <div class="chart-value" style="max-height: 94%"></div>
                </section>
                <section class="chart-labels">
                    <div>Jul</div>
                    <div>Aug</div>
                    <div>Sep</div>
                    <div>Oct</div>
                    <div>Nov</div>
                    <div>Dec</div>
                </section>
            </div>
        </div>
        <!--   === Analytics Chart Ends ===   -->
    </div>
    <!--   === Column 1 Ends ===   -->
    <!--   === Column 2 Starts ===   -->
    <div class="col-2">
        <!--   === Top Products Starts ===   -->
        <div class="top-products">
            <header class="products-header">
                <h1>Top Foods</h1>
            </header>
            <div class="products-wrapper">

                <div class="product">
                    <div class="product-img">
                        <img src="~/img/Food/3146.jpg_wh860.jpg">
                    </div>
                    <div class="product-desc">
                        <div class="product-row-1">
                            <h2>Top1</h2>
                            <i class="fa-solid fa-shopping-cart"></i>
                        </div>
                        <div class="product-row-2">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="product-img">
                        <img src="~/img/Food/Apple_pie.jpg">
                    </div>
                    <div class="product-desc">
                        <div class="product-row-1">
                            <h2>Top2</h2>
                            <i class="fa-solid fa-shopping-cart"></i>
                        </div>
                        <div class="product-row-2">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="product-img">
                        <img src="~/img/Food/food-1.png">
                    </div>
                    <div class="product-desc">
                        <div class="product-row-1">
                            <h2>Top3</h2>
                            <i class="fa-solid fa-shopping-cart"></i>
                        </div>
                        <div class="product-row-2">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="product-img">
                        <img src="~/img/Food/Apple_pie.jpg">
                    </div>
                    <div class="product-desc">
                        <div class="product-row-1">
                            <h2>Top4</h2>
                            <i class="fa-solid fa-shopping-cart"></i>
                        </div>
                        <div class="product-row-2">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="product-img">
                        <img src="images/products/product-5.jpg">
                    </div>
                    <div class="product-desc">
                        <div class="product-row-1">
                            <h2>Laptop</h2>
                            <i class="fa-solid fa-shopping-cart"></i>
                        </div>
                        <div class="product-row-2">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="product-img">
                        <img src="images/products/product-6.jpg">
                    </div>
                    <div class="product-desc">
                        <div class="product-row-1">
                            <h2>Head Phones</h2>
                            <i class="fa-solid fa-shopping-cart"></i>
                        </div>
                        <div class="product-row-2">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="product-img">
                        <img src="images/products/product-7.jpg">
                    </div>
                    <div class="product-desc">
                        <div class="product-row-1">
                            <h2>Nick Shoes</h2>
                            <i class="fa-solid fa-shopping-cart"></i>
                        </div>
                        <div class="product-row-2">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="product-img">
                        <img src="images/products/product-8.jpg">
                    </div>
                    <div class="product-desc">
                        <div class="product-row-1">
                            <h2>Leather Shoes</h2>
                            <i class="fa-solid fa-shopping-cart"></i>
                        </div>
                        <div class="product-row-2">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--   === Top Products Ends ===   -->
        <!--   === Total Balance Card Starts ===   -->
        <div class="balance-card">
            <div class="balance-card-top">
                <div class="text">
                    <h3>Total Income</h3>
                    <h1>$70,452<sub>(USD)</sub></h1>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-arrow-up"></i>
                </div>
            </div>
            <div class="balance-card-middle">
                <div class="subject">Progress</div>
                <div class="progress-bar">
                    <div class="progress-line" value="93%" style="max-width: 93%"></div>
                </div>
            </div>
            <div class="balance-card-bottom">
                <button class="btn-top-up">
                    Top Up<i class="fa-solid fa-arrow-up"></i>
                </button>
                <button class="btn-transfer">
                    Transfer<i class="fa-solid fa-arrow-up"></i>
                </button>
            </div>
        </div>
        <!--   === Total Balance Card Ends ===   -->
    </div>
    <!--   === Column 2 Ends ===   -->
</div>
<!--   === Description Ends ===   -->
