<div class="footer-wrapper">
    <div class="footer">
        <div class="content">
            <div class="footer-column">
                <div class="logo">
                    <img src="assets/img/Logo/Logo.svg" alt="">
                </div>
                <h3 class="sub-logo">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio, natus!</h3>
            </div>

            <div class="footer-column">
                <h3 class="h3-top">Support</h3>
                <ul>
                    <li>Help center</li>
                    <li>Account information</li>
                </ul>
                <h3 class="h3-bottom">Support</h3>
                <ul>
                    <li>Help center</li>
                    <li>Information</li>
                </ul>
            </div>

            <div class="footer-column">
                <h3 class="h3-top">Support</h3>
                <ul>
                    <li>Help center</li>
                    <li>Account information</li>
                </ul>
                <h3 class="h3-bottom">Support</h3>
                <ul>
                    <li>Help center</li>
                    <li>Information</li>
                </ul>
            </div>

            <div class="footer-column">
                <h3 class="h3-top">Support</h3>
                <ul>
                    <li>Help center</li>
                    <li>Account information</li>
                </ul>
                <h3 class="h3-bottom">Support</h3>
                <ul>
                    <li>Help center</li>
                    <li>Information</li>
                </ul>
            </div>

            <div class="footer-column">
                <h3 class="h3-top">Stay In Touch</h3>
                <div class="footer-subscribe">
                    <form action="">
                        <input type="email" placeholder="Enter your email..." class="email-input">
                        <button class="btn-mail">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>