<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RestaurantManagement</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <link rel="stylesheet" href="~/RestaurantManagement.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="header-top">
        <!-- Navbar -->
        <nav class="navbar">
            <ul class="navbar_list">
                <li class="navbar_item">
                    <a class="navbar_link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="navbar_item"  >
                    <a class="navbar_link" asp-area="" asp-controller="Foods" asp-action="FoodTypeAll">Menu</a>
                </li>
                <li class="navbar_item"  >
                    <a class="navbar_link" asp-area="" asp-controller="Home" asp-action="Cart">Cart</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                <li class="navbar_item">
                    <a class="navbar_link" asp-area="" asp-controller="Orders" asp-action="Index">View Order</a>
                </li>
                }
                <li class="navbar_item">
                    <a class="navbar_link">Blog</a>
                </li>
                <li class="navbar_item">
                    <a asp-action="Profile" asp-controller="Home" class="navbar_link">Profile</a>
                </li>

                <!-- tìm kiếm-->
                <li class="navbar_item">
                    <form class="search-form" asp-controller="Foods" asp-action="Search" method="get">
                        <input type="text" name="searchString" placeholder="Search foods..." class="search-input">
                        <button type="submit" class="search-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </button>
                    </form>
                </li>
            </ul>
        </nav>

        <!-- Logo -->
        <a href="/">
            <div class="logo">
                <img src="~/img/Logo/Logo.svg" alt="logo_img">
            </div>
        </a>

        <!-- Action -->
        <div class="header-action">
            @if (User.Identity.IsAuthenticated)
            {
                <div style="display: flex; align-items: center; gap: 10px;">
                    <p>Welcome, @User.Claims.FirstOrDefault(c => c.Type == "FirstName")?.Value</p>
                    <div>
                      
                            <button type="submit" onclick="logout()" class="btn">Logout</button>
                       
                    </div>
                </div>

            }
            else
            {
                <a class="btn" asp-area="" asp-controller="Auth" asp-action="Login">Log In</a>
            }
        </div>

    </div>
            @RenderBody()


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/hub.js" asp-append-version="true"></script>

    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.0/signalr.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
