<!-- Breakfast -->
<div class="menu-hero">
    <div class="container">
        <h2 class="title">Breakfast</h2>
        <img src="~/img/Icon/decor-rec.svg" alt="" class="decor-rec">
        <div class="menu-list">
            <div class="menu-item">
                <img src="~/img/Food/food-11.png" alt="" class="food-img">
                <h3 class="food-name">Egg Frittata Muffins. PIN IT</h3>
                <p class="food-desc">Fresh toasted sourdough bread with olive oil and pomegranate.</p>
                <hr>
                <div class="food-action">
                    <a href="" class="add-to-cart_btn">Read More</a>
                    <p class="price">$24</p>
                </div>
            </div>
            <div class="menu-item">
                <img src="~/img/Food/food-11.png" alt="" class="food-img">
                <h3 class="food-name">Egg Frittata Muffins. PIN IT</h3>
                <p class="food-desc">Fresh toasted sourdough bread with olive oil and pomegranate.</p>
                <hr>
                <div class="food-action">
                    <a href="" class="add-to-cart_btn">Read More</a>
                    <p class="price">$24</p>
                </div>
            </div>
            <div class="menu-item">
                <img src="~/img/Food/food-11.png" alt="" class="food-img">
                <h3 class="food-name">Egg Frittata Muffins. PIN IT</h3>
                <p class="food-desc">Fresh toasted sourdough bread with olive oil and pomegranate.</p>
                <hr>
                <div class="food-action">
                    <a href="" class="add-to-cart_btn">Read More</a>
                    <p class="price">$24</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fruit-banner">
    <img src="~/img/Food/bg-food-img.png" alt="Fruit Background" class="fruit-banner__bg-image">
    <div class="fruit-banner__overlay">
        <h1 class="fruit-banner__title">Food Is Not Just <br> Eating Energy</h1>
        <p class="fruit-banner__subtitle">It's an experience.</p>
        <button class="fruit-banner__btn">Order Now</button>
    </div>
</div>

<!-- Lunch -->
<div class="menu-hero">
    <div class="container">
        <h2 class="title">Lunch</h2>
        <img src="~/img/Icon/decor-rec.svg" alt="" class="decor-rec">
        <div class="menu-list">
            <div class="menu-item">
                <img src="~/img/Food/food-11.png" alt="" class="food-img">
                <h3 class="food-name">Egg Frittata Muffins. PIN IT</h3>
                <p class="food-desc">Fresh toasted sourdough bread with olive oil and pomegranate.</p>
                <hr>
                <div class="food-action">
                    <a href="" class="add-to-cart_btn">Read More</a>
                    <p class="price">$24</p>
                </div>
            </div>
            <div class="menu-item">
                <img src="~/img/Food/food-11.png" alt="" class="food-img">
                <h3 class="food-name">Egg Frittata Muffins. PIN IT</h3>
                <p class="food-desc">Fresh toasted sourdough bread with olive oil and pomegranate.</p>
                <hr>
                <div class="food-action">
                    <a href="" class="add-to-cart_btn">Read More</a>
                    <p class="price">$24</p>
                </div>
            </div>
            <div class="menu-item">
                <img src="~/img/Food/food-11.png" alt="" class="food-img">
                <h3 class="food-name">Egg Frittata Muffins. PIN IT</h3>
                <p class="food-desc">Fresh toasted sourdough bread with olive oil and pomegranate.</p>
                <hr>
                <div class="food-action">
                    <a href="" class="add-to-cart_btn">Read More</a>
                    <p class="price">$24</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Dinner -->
<div class="menu-hero">
    <div class="container">
        <h2 class="title">Dinner</h2>
        <img src="~/img/Icon/decor-rec.svg" alt="" class="decor-rec">
        <div class="menu-list">
            <div class="menu-item">
                <img src="~/img/Food/food-11.png" alt="" class="food-img">
                <h3 class="food-name">Egg Frittata Muffins. PIN IT</h3>
                <p class="food-desc">Fresh toasted sourdough bread with olive oil and pomegranate.</p>
                <hr>
                <div class="food-action">
                    <a href="" class="add-to-cart_btn">Read More</a>
                    <p class="price">$24</p>
                </div>
            </div>
            <div class="menu-item">
                <img src="~/img/Food/food-11.png" alt="" class="food-img">
                <h3 class="food-name">Egg Frittata Muffins. PIN IT</h3>
                <p class="food-desc">Fresh toasted sourdough bread with olive oil and pomegranate.</p>
                <hr>
                <div class="food-action">
                    <a href="" class="add-to-cart_btn">Read More</a>
                    <p class="price">$24</p>
                </div>
            </div>
            <div class="menu-item">
                <img src="./img/Food/food-11.png" alt="" class="food-img">
                <h3 class="food-name">Egg Frittata Muffins. PIN IT</h3>
                <p class="food-desc">Fresh toasted sourdough bread with olive oil and pomegranate.</p>
                <hr>
                <div class="food-action">
                    <a href="" class="add-to-cart_btn">Read More</a>
                    <p class="price">$24</p>
                </div>
            </div>
        </div>
    </div>
</div>