<div class="food-detail">
    <div class="container">
        <img src="~/img/Food/food-11.png" alt="" class="food-detail_img">
        <div class="food-detail_desc">
            <h2 class="title">Crispy chicken breasts</h2>
            <div class="rating">
                <img src="~/img/Icon/start.svg" alt="">
                <p>( 1 customer review )</p>
            </div>
            <h4 class="price">$ 54.00</h4>
            <p class="sub-title">Aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur uis autem vel eum iure reprehenderit.</p>
            <div class="food-detail_action">
                <div>
                    <a href="">
                        <img src="~/img/Icon/tru.svg" alt="">
                    </a>
                </div>
                <p>1</p>
                <div>
                    <a href="">
                        <img src="~/img/Icon/cong.svg" alt="">
                    </a>
                </div>

            </div>
            <a href="" class="btn">Add To Cart</a>
            <div class="more-inf">
                <p><strong>SKU:</strong>  PT322</p>
                <p><strong>CATEGORY:</strong>  Lunch</p>
                <p><strong>TAGS:</strong>  Sweets,Ghevar </p>
            </div>
        </div>
    </div>

</div>